.Button {
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid black;
  background: transparent;
  padding: 6px 30px;
  text-transform: uppercase;
}

.Button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.Button__container Button {
  background: black;
  color: white;
  width: auto;
  flex-grow: 1;
}

.Button__container Button[disabled] {
  background: rgb(213, 213, 213);
  color: white;
  border: none;
}
