.Button {
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid black;
  background: transparent;
  padding: 6px 12px;
  text-transform: uppercase;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.buttonContainer Button {
  background: black;
  color: white;
}

.buttonContainer Button[disabled] {
  background: rgb(213, 213, 213);
  color: white;
  border: none;
}
