.Card {
  background: #e6e6e6;
  text-align: center;
  display: grid;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  max-width: 335px;
  z-index: 3;
}

.Card:last-child {
  margin-bottom: 44px;
}

.Card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.Card h2 {
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.Card p {
  margin: 5px 0;
}

.Card ul {
  list-style: none;
  padding-left: 0;
}

.Card__button-container {
  position: relative;
}

.icon {
  position: absolute;
  right: 25px;
  bottom: -3px;
}

.Card__like {
  position: absolute;
  right: 10px;
  top: 10px;
}
