* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 112.5%;
  line-height: 1.2;
  font-family: sans-serif;
}

h2 {
  margin-top: 0;
}

input {
  border: 4px solid #ccc;
  padding: 4px;
}
