* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-size: 112.5%; */
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  line-height: inherit;
  margin: 0;
}

h2 {
  margin-top: 0;
}

input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 6px 0;
  font-size: 100%;
  width: 85%;
}

.input__container {
  text-align: center;
}

.input__container input {
  padding-left: 30px;
  background-image: url('./icons/search.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 5px 8px;
}
